.caixa{
	width: 400px;
	background:#dedede url(../arquivos/fundo-arredondamento.png) repeat-y;
}

.caixa h2{
	padding: 10px 20px 0 20px;
	background: url(../arquivos/topo2.png) no-repeat left top;
}

.caixa .ultimo{
	background: url(../arquivos/baixo2.png) no-repeat left bottom;
	width: 400px;
	height: 24px;
}

.caixa p{
	padding: 0 20px;
	margin-bottom: 0;
}